Vulnerability Scanner/Scheduled Security Vulnerability Scanner with Critical Alert Automation.json
{
  "name": "Scheduled Security Vulnerability Scanner with Critical Alert Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "771ddc86-687f-4054-b610-d45dc6b6d0ce",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "targetHost",
              "value": "<__PLACEHOLDER_VALUE__Target host or IP to scan__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "alertEmail",
              "value": "<__PLACEHOLDER_VALUE__Email address for critical alerts__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "jiraProject",
              "value": "<__PLACEHOLDER_VALUE__Jira project key__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "386b6d2f-7ee3-4e24-aefe-1b9d2f47ed3c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "command": "=nuclei -u {{ $('Workflow Configuration').first().json.targetHost }} -json -o /tmp/nuclei_results.json && cat /tmp/nuclei_results.json"
      },
      "id": "0e1704a3-4512-4b34-9a44-2ea2a9a9ff83",
      "name": "Run Nuclei Scan",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "command": "=nikto -h {{ $('Workflow Configuration').first().json.targetHost }} -Format json -output /tmp/nikto_results.json && cat /tmp/nikto_results.json"
      },
      "id": "d394a395-ce29-410a-b7d0-5801f08ed63b",
      "name": "Run Nikto Scan",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "command": "=nmap -sV -oX /tmp/nmap_results.xml {{ $('Workflow Configuration').first().json.targetHost }} && cat /tmp/nmap_results.xml"
      },
      "id": "3bde9b8a-1804-413c-9dd5-8bd2cd42392d",
      "name": "Run Nmap Scan",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse scan results from Nuclei, Nikto, and Nmap\nconst nucleiResults = $('Run Nuclei Scan').all();\nconst niktoResults = $('Run Nikto Scan').all();\nconst nmapResults = $('Run Nmap Scan').all();\n\nlet vulnerabilities = [];\nlet criticalCount = 0;\nlet highCount = 0;\nlet mediumCount = 0;\nlet lowCount = 0;\n\n// Parse Nuclei results\nfor (const item of nucleiResults) {\n  const output = item.json.stdout || '';\n  const lines = output.split('\\n');\n  \n  for (const line of lines) {\n    if (line.includes('[critical]') || line.includes('[high]') || line.includes('[medium]') || line.includes('[low]')) {\n      let severity = 'info';\n      if (line.includes('[critical]')) {\n        severity = 'critical';\n        criticalCount++;\n      } else if (line.includes('[high]')) {\n        severity = 'high';\n        highCount++;\n      } else if (line.includes('[medium]')) {\n        severity = 'medium';\n        mediumCount++;\n      } else if (line.includes('[low]')) {\n        severity = 'low';\n        lowCount++;\n      }\n      \n      vulnerabilities.push({\n        tool: 'Nuclei',\n        severity: severity,\n        title: line.trim(),\n        description: line.trim()\n      });\n    }\n  }\n}\n\n// Parse Nikto results\nfor (const item of niktoResults) {\n  const output = item.json.stdout || '';\n  const lines = output.split('\\n');\n  \n  for (const line of lines) {\n    if (line.includes('+') && line.length > 10) {\n      // Nikto findings typically start with +\n      let severity = 'medium'; // Default Nikto findings to medium\n      \n      if (line.toLowerCase().includes('vulnerable') || line.toLowerCase().includes('exploit')) {\n        severity = 'high';\n        highCount++;\n      } else {\n        mediumCount++;\n      }\n      \n      vulnerabilities.push({\n        tool: 'Nikto',\n        severity: severity,\n        title: line.trim(),\n        description: line.trim()\n      });\n    }\n  }\n}\n\n// Parse Nmap results\nfor (const item of nmapResults) {\n  const output = item.json.stdout || '';\n  const lines = output.split('\\n');\n  \n  for (const line of lines) {\n    if (line.includes('open') && line.includes('/')) {\n      // Open ports found\n      vulnerabilities.push({\n        tool: 'Nmap',\n        severity: 'low',\n        title: `Open port: ${line.trim()}`,\n        description: line.trim()\n      });\n      lowCount++;\n    } else if (line.toLowerCase().includes('vulnerable') || line.toLowerCase().includes('vuln')) {\n      vulnerabilities.push({\n        tool: 'Nmap',\n        severity: 'high',\n        title: line.trim(),\n        description: line.trim()\n      });\n      highCount++;\n    }\n  }\n}\n\nconst criticalFound = criticalCount > 0;\n\nconst summary = `Security scan completed. Found ${criticalCount} critical, ${highCount} high, ${mediumCount} medium, and ${lowCount} low severity vulnerabilities across ${vulnerabilities.length} total findings.`;\n\nreturn [{\n  json: {\n    criticalFound: criticalFound,\n    criticalCount: criticalCount,\n    highCount: highCount,\n    mediumCount: mediumCount,\n    lowCount: lowCount,\n    vulnerabilities: vulnerabilities,\n    summary: summary\n  }\n}];"
      },
      "id": "f1cdc206-960d-404d-94cf-debbe4efaa9a",
      "name": "Parse Scan Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.criticalFound }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74915092-e6bc-4c45-9dc1-f45a48b546ab",
      "name": "Check If Critical Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.jiraProject }}"
        },
        "issueType": {
          "__rl": true,
          "mode": "id",
          "value": "Bug"
        },
        "summary": "=Critical Security Vulnerabilities Detected - {{ $('Workflow Configuration').first().json.targetHost }}",
        "additionalFields": {
          "description": "={{ $json.summary }}\n\nCritical: {{ $json.criticalCount }}\nHigh: {{ $json.highCount }}\nMedium: {{ $json.mediumCount }}\nLow: {{ $json.lowCount }}\n\nDetailed findings:\n{{ $json.vulnerabilities.map(v => `[${v.severity}] ${v.tool}: ${v.title}\n${v.description}`).join('\\n\\n') }}",
          "priority": {
            "__rl": true,
            "mode": "id",
            "value": "Highest"
          }
        }
      },
      "id": "55e7c503-afff-4004-8dee-55c84a2234a0",
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "<__PLACEHOLDER_VALUE__Sender email address__>",
        "toEmail": "={{ $('Workflow Configuration').first().json.alertEmail }}",
        "subject": "=URGENT: Critical Security Vulnerabilities Detected - {{ $('Workflow Configuration').first().json.targetHost }}",
        "html": "=<h1 style=\"color: #d32f2f;\">🚨 CRITICAL SECURITY ALERT</h1>\n\n<p><strong>Scan Date:</strong> {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}</p>\n<p><strong>Target:</strong> {{ $('Workflow Configuration').first().json.targetHost }}</p>\n\n<div style=\"background-color: #ffebee; border-left: 4px solid #d32f2f; padding: 15px; margin: 20px 0;\">\n  <h2>Vulnerability Summary</h2>\n  <ul>\n    <li><strong>Critical:</strong> {{ $json.criticalCount }}</li>\n    <li><strong>High:</strong> {{ $json.highCount }}</li>\n    <li><strong>Medium:</strong> {{ $json.mediumCount }}</li>\n    <li><strong>Low:</strong> {{ $json.lowCount }}</li>\n  </ul>\n</div>\n\n<h3>Summary</h3>\n<p>{{ $json.summary }}</p>\n\n<h3>Detailed Findings</h3>\n{{ $json.vulnerabilities.map(v => `<div style=\"border: 1px solid #ddd; padding: 10px; margin: 10px 0; border-radius: 5px;\">\n  <p><strong>Severity:</strong> <span style=\"color: ${v.severity === 'critical' ? '#d32f2f' : v.severity === 'high' ? '#f57c00' : '#fbc02d'};\">${v.severity.toUpperCase()}</span></p>\n  <p><strong>Tool:</strong> ${v.tool}</p>\n  <p><strong>Title:</strong> ${v.title}</p>\n  <p><strong>Description:</strong> ${v.description}</p>\n</div>`).join('') }}\n\n<p style=\"margin-top: 20px; color: #666;\"><em>This is an automated security alert. A Jira ticket has been created for tracking.</em></p>",
        "options": {}
      },
      "id": "6487c8ac-d53b-4783-9715-133ef2881f60",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1792,
        0
      ],
      "webhookId": "be7a49cb-c213-4ccb-bb1f-0f9a5148c7b3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Run Nuclei Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Nuclei Scan": {
      "main": [
        [
          {
            "node": "Run Nikto Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Nikto Scan": {
      "main": [
        [
          {
            "node": "Run Nmap Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Nmap Scan": {
      "main": [
        [
          {
            "node": "Parse Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scan Results": {
      "main": [
        [
          {
            "node": "Check If Critical Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Critical Found": {
      "main": [
        [
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "43357a83-b991-457f-a2a7-4730a928463b",
  "meta": {
    "instanceId": "d2e025555df5e04d51f5a4e14aa8062978f3ac7e7b2d429a436738f5bc14fdab"
  },
  "id": "92Gn31TIWyIi-7jzOtWuZ",
  "tags": []
}